.tile {
    display: inline-block;
    margin: 5px;
    .preview{
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        border: 1p solid orange;
        padding: 5px;
        background: silver;
        border-radius: 5px;
        text-align: center;
    }
    h4 {
        margin: 5px;
        text-align: center;
    }
    p {
        $size: 18px;
        --cols: 4;
        width: calc(var(--cols) * $size);
        height: calc(var(--cols) * $size);
        line-height: 1;
        // display: inline-block;
        display: inline-grid;
        // grid-template-columns: repeat(var(--cols), 1fr);
        grid-template-columns: repeat(var(--cols), 1fr);
        grid-template-rows: repeat(var(--cols), 1fr);
        

        &::after {content: ''; clear: both;}

        // &.col-3{
        //     grid-template-columns: repeat(3, 1fr);
        //     grid-template-rows: repeat(3, 1fr);
        //     i:nth-child(3n+1) {clear: left;}
        // } 
            

        // i {width: $size; height: $size; float: left;}
        [title="B"] {background: black;}
        [title="Z"] {background: #ffffff;}
    }
}