.tile {
    display: inline-block;
    margin: 5px;
    .preview{
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        border: 1p solid orange;
        padding: 5px;
        background: silver;
        border-radius: 5px;
    }
    h6 {
        margin: 5px;
        text-align: center;
    }
}